.page
  hero


  .grid-container
    profile(
      v-if='allData',
      :allData='allData'
    )


  .charts(v-if='allData')
    .grid-container

      .chart-group
        .chart-group__description
          h2 Foreigners
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
          p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          range-chart(
            xLabel='Ausländeranteil',
            :allData='allData',
            :getGraphData='foreignersChart.getData',
            :isPercent='true',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
        .chart-group__chart
          map-chart(
            :allData='allData',
            :getGraphData='foreignersChart.getData',
            :isPercent='true',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )

      .chart-group
        .chart-group__description
          h2 Welfare
          p Mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
          p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          range-chart(
            xLabel='Sozialhilfequote',
            :allData='allData',
            :getGraphData='welfareChart.getData',
            :isPercent='true',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )

      .chart-group
        .chart-group__description
          h2 Wealth and Income
          p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
          p Mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
        .chart-group__chart
          range-chart(
            xLabel='Reinvermögen Gini',
            :allData='allData',
            :getGraphData='wealthGiniChart.getData',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
        .chart-group__chart
          bar-chart(
            xLabel='Reinvermögen Median',
            yLabel='',
            :allData='allData',
            :getGraphData='medianWealthChart.getData',
            :colors='colors.GRAPHIQ3_12_LOWER',
            :xTickFormat='medianWealthChart.xTickFormat',
            :yTickFormat='medianWealthChart.yTickFormat',
          )
        .chart-group__chart.lolno
          bar-chart(
            xLabel='Reinvermögen Mittelwert',
            yLabel='',
            :allData='allData',
            :getGraphData='averageWealthChart.getData',
            :colors='colors.GRAPHIQ3_12_LOWER',
            :xTickFormat='averageWealthChart.xTickFormat',
            :yTickFormat='averageWealthChart.yTickFormat',
          )
        .chart-group__chart
          range-chart(
            xLabel='Reineinkommen Gini',
            :allData='allData',
            :getGraphData='incomeGiniChart.getData',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
        .chart-group__chart
          bar-chart(
            xLabel='Reineinkommen Median',
            yLabel='',
            :allData='allData',
            :getGraphData='medianIncomeChart.getData',
            :colors='colors.GRAPHIQ3_12_LOWER',
            :xTickFormat='medianIncomeChart.xTickFormat',
            :yTickFormat='medianIncomeChart.yTickFormat',
          )
        .chart-group__chart.lolno
          bar-chart(
            xLabel='Reineinkommen Mittelwert',
            yLabel='',
            :allData='allData',
            :getGraphData='averageIncomeChart.getData',
            :colors='colors.GRAPHIQ3_12_LOWER',
            :xTickFormat='averageIncomeChart.xTickFormat',
            :yTickFormat='averageIncomeChart.yTickFormat',
          )

      .chart-group
        .chart-group__description
          h2 Citizenship
          p Nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
          p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci.
        .chart-group__chart
          stack-chart(
            xLabel='Teil',
            yLabel='Wohnviertel',
            :allData='allData',
            :getGraphData='citizenshipChart.getData',
            :getKeys='citizenshipChart.getKeys',
            :colors='citizenshipChart.colors',
          )

      .chart-group
        .chart-group__description
          h2 Religion
          p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci.
          p Nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          stack-chart(
            xLabel='Teil',
            yLabel='Wohnviertel',
            :allData='allData',
            :getGraphData='religionChart.getData',
            :getKeys='religionChart.getKeys',
            :colors='religionChart.colors',
            :defaultSort='religionChart.defaultSort',
          )

      .chart-group
        .chart-group__description
          h2 Age
          p Turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci.
          p Odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          stack-chart(
            xLabel='Teil',
            yLabel='Wohnviertel',
            :allData='allData',
            :getGraphData='ageChart.getData',
            :getKeys='ageChart.getKeys',
            :colors='ageChart.colors',
            :defaultSort='ageChart.defaultSort',
          )

      .chart-group
        .chart-group__description
          h2 Population change
          p Turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci.
          p Odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          range-chart(
            xLabel='Umzüge + Wanderungen Saldo',
            :allData='allData',
            :getGraphData='populationChangeChart.getData',
            :isPercent='false',
            :colors='colors.GRAPHIQ3_12_LOWER',
            :radius='5',
            :minDist='15',
          )
        .chart-group__chart
          map-chart(
            :allData='allData',
            :getGraphData='populationChangeChart.getData',
            :isPercent='false',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )

      .chart-group
        .chart-group__description
          h2 Full-time Employee Equivalents
          p Turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci.
          p Odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          range-chart(
            xLabel='Vollzeitäquivalente',
            :allData='allData',
            :getGraphData='employeeChart.getData',
            :isPercent='false',
            :colors='colors.GRAPHIQ3_12_LOWER',
            :radius='5',
            :minDist='15',
          )
        .chart-group__chart
          map-chart(
            :allData='allData',
            :getGraphData='employeeChart.getData',
            :isPercent='false',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
