.chart-section
  .grid-container
    .chart-group
      .chart-group__description
        h3 Net Worth Inequality
        p The #[em Gini Index] is a value between 0 and 1 which represents the inequality of wealth or income. A value of 0 means that everyone has the same amount of money, whereas a value of 1 means that one person has all the money.
        p Out of the 174 countries in the 2014 report, Switzerland ranks 27th in wealth inequality, making wealth inequality in Switzerland greater than in 85% of countries.
        p The data below shows that Basel ranks consistently higher than the Swiss national average. Five of its districts rank higher than the country with the highest level of wealth inequality, Ukraine.
      .chart-group__chart
        map-chart(
          axisLabel='Net Worth Gini',
          valueFormat='.2f',
          :allData='allData',
          :getGraphData='wealthGiniChart.getData',
          :colors='colors.GRAPHIQ3_12_LOWER',
        )
      .chart-group__chart
        range-chart(
          axisLabel='Net Worth Gini',
          :allData='allData',
          :getGraphData='augmentedWealthGiniChart.getData',
          :colors='colors.GRAPHIQ3_12_LOWER',
        )
      .chart-group__sources
        | #[strong Source:] Statistisches Amt Basel-Stadt, #[a(href='http://www.statistik.bs.ch/zahlen/tabellen/18-oeffentliche-finanzen/steuern.html') T18.2.03], 2014.
        br
        | International Gini coefficients for wealth from #[a(href='https://www.credit-suisse.com/corporate/en/research/research-institute/global-wealth-report.html') Credit Suisse Global Wealth Report, 2014].

    .chart-group
      .chart-group__description
        h3 Income Inequality
        p The data belows shows the level of inequality in the yearly net income of all residents. The pattern we saw with net worth inequality continues here, with some districts having extremely high values at over #[code 0.60], compared to the Swiss national average of #[code 0.30].
      .chart-group__chart
        map-chart(
          axisLabel='Net Income Gini',
          valueFormat='.2f',
          :allData='allData',
          :getGraphData='incomeGiniChart.getData',
          :colors='colors.GRAPHIQ3_12_LOWER',
        )
      .chart-group__chart
        range-chart(
          axisLabel='Net Income Gini',
          :allData='allData',
          :getGraphData='augmentedIncomeGiniChart.getData',
          :colors='colors.GRAPHIQ3_12_LOWER',
        )
      .chart-group__sources
        | #[strong Source:] Statistisches Amt Basel-Stadt, #[a(href='http://www.statistik.bs.ch/zahlen/tabellen/18-oeffentliche-finanzen/steuern.html') T18.2.03], 2014.
        br
        | International Gini coefficients for income from #[a(href='https://www.gut-leben-in-deutschland.de/static/LB/indicators/income/gini-coefficient-income/') “Gini-Koeffizient der Einkommen”, Bundesregierung Deutschland, 2014].

    .chart-group
      .chart-group__description
        h3 Average Net Worth
        p The average net worth of Basel's residents varies considerably depending on the district. Klybeck ranks lowest, at #[code 1&thinsp;440 CHF]. Bettingen, on the other hand, has the highest average net worth, at #[code 72&thinsp;735 CHF], which is more than 50 times Klybeck's average.
      .chart-group__chart
        map-chart(
          axisLabel='Average Net Worth',
          :allData='allData',
          :getGraphData='medianWealthChart.getData',
          :isChf='true',
          :colors='colors.GRAPHIQ3_12_LOWER',
        )
      .chart-group__chart
        bar-chart(
          id='average-net-worth',
          xLabel='Average Net Worth (CHF)',
          yLabel='',
          :allData='allData',
          :getGraphData='medianWealthChart.getData',
          :colors='colors.GRAPHIQ3_12_LOWER',
          :xTickFormat='medianWealthChart.xTickFormat',
          :yTickFormat='medianWealthChart.yTickFormat',
          :yTickFormatMobile='medianWealthChart.yTickFormatMobile'
        )
        // range-chart(
        //   axisLabel='Average Net Worth',
        //   :allData='allData',
        //   :getGraphData='medianWealthChart.getData',
        //   :colors='colors.GRAPHIQ3_12_LOWER',
        //   :isChf='true',
        // )
      .extra-details
        .extra-details__trigger
          vue-slide-up-down(:active='!areWealthDetailsVisible')
            .extra-details__title Want to learn more?
          button.button.button--shrink(v-on:click='areWealthDetailsVisible = !areWealthDetailsVisible')
            | ${areWealthDetailsVisible ? 'Hide extra information' : 'Show extra information'}
        vue-slide-up-down(:active='areWealthDetailsVisible')
          .extra-details__content
            .chart-group__description
              p The graphs above use median values for net worth rather than the arithmetic mean for each district. This means that out of everyone living in a district, we take the middle value. This is a more representative average.
              p However, interesting things happen when we look at the arithmetic mean as well. For example, Bruderholz residents have a median net worth of #[code 61&thinsp;127 CHF], but a mean net worth of #[code 2&thinsp;868&thinsp;374 CHF].
              p This massive discrepancy shows us that few people have extremely high incomes, in the millions or tens of millions of francs. These few high-net-worth individuals greatly skew the entire arithmetic mean upwards. This massive different between the median and mean gives us clues about the considerable financial inequality between residents.
            .chart-group__chart
              bar-chart(
                id='average-net-worth-extra',
                xLabel='Mean Net Worth (CHF)',
                yLabel='',
                :allData='allData',
                :getGraphData='averageWealthChart.getData',
                :colors='colors.GRAPHIQ3_12_LOWER',
                :xTickFormat='averageWealthChart.xTickFormat',
                :yTickFormat='averageWealthChart.yTickFormat',
                :yTickFormatMobile='averageWealthChart.yTickFormatMobile'
              )
      .chart-group__sources
        | #[strong Source:] Statistisches Amt Basel-Stadt, #[a(href='http://www.statistik.bs.ch/zahlen/tabellen/18-oeffentliche-finanzen/steuern.html') T18.2.03], 2014.
        br
        | The median (and not the mean) is used for average financial values to avoid skewing.

    .chart-group
      .chart-group__description
        h3 Average Net Income
        p Compared to average net worth, Basel's average net income is much more evenly distributed. Klybeck again ranks lowest, at #[code 38&thinsp;322 CHF]. Bettingen keeps its position, with an average net income of #[code 67&thinsp;444 CHF], which is a little under double Klybeck's average.
      .chart-group__chart
        map-chart(
          axisLabel='Average Net Income (CHF)',
          :allData='allData',
          :getGraphData='medianIncomeChart.getData',
          :isChf='true',
          :colors='colors.GRAPHIQ3_12_LOWER',
        )
      .chart-group__chart
        bar-chart(
          id='average-net-income',
          xLabel='Average Net Income (CHF)',
          yLabel='',
          :allData='allData',
          :getGraphData='medianIncomeChart.getData',
          :colors='colors.GRAPHIQ3_12_LOWER',
          :xTickFormat='medianIncomeChart.xTickFormat',
          :yTickFormat='medianIncomeChart.yTickFormat',
          :yTickFormatMobile='medianIncomeChart.yTickFormatMobile'
        )
        // range-chart(
        //   axisLabel='Average Net Income',
        //   :allData='allData',
        //   :getGraphData='medianIncomeChart.getData',
        //   :colors='colors.GRAPHIQ3_12_LOWER',
        //   :isChf='true',
        // )
      .extra-details
        .extra-details__trigger
          vue-slide-up-down(:active='!areIncomeDetailsVisible')
            .extra-details__title Want to learn more?
          button.button.button--shrink(v-on:click='areIncomeDetailsVisible = !areIncomeDetailsVisible')
            | ${areIncomeDetailsVisible ? 'Hide extra information' : 'Show extra information'}
        vue-slide-up-down(:active='areIncomeDetailsVisible')
          .extra-details__content
            .chart-group__description
              p #[strong Psst…] check out the extra information for net worth above first!
              p Just like the net worth graphs, the graphs above use median values for net worth.
              p Even though it's less pronounced than with net worth, net income inequality also shows in the difference between the median and the mean here. Bruderholz residents have a median net income of #[code 64&thinsp;291 CHF], but a mean net income of #[code 118&thinsp;672 CHF]. This leads us to believe that there exist a smaller number of residents with significantly higher net incomes.
            .chart-group__chart
              bar-chart(
                id='average-net-income-extra',
                xLabel='Mean Net Income (CHF)',
                yLabel='',
                :allData='allData',
                :getGraphData='averageIncomeChart.getData',
                :colors='colors.GRAPHIQ3_12_LOWER',
                :xTickFormat='averageIncomeChart.xTickFormat',
                :yTickFormat='averageIncomeChart.yTickFormat',
                :yTickFormatMobile='averageIncomeChart.yTickFormatMobile'
              )
      .chart-group__sources
        | #[strong Source:] Statistisches Amt Basel-Stadt, #[a(href='http://www.statistik.bs.ch/zahlen/tabellen/18-oeffentliche-finanzen/steuern.html') T18.2.03], 2014.
        br
        | The median (and not the mean) is used for average financial values to avoid skewing.
