.page
  hero

  .grid-container
    h2 Your district's profile
    profile(
      v-if='allData',
      :allData='allData'
    )

  .charts(v-if='allData')
    .grid-container
      h2 At a glance

      .chart-group
        .chart-group__description
          h3 Foreigners
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
          p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          range-chart(
            xLabel='Ausländeranteil',
            :allData='allData',
            :getGraphData='foreignersChart.getData',
            :isPercent='true',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
        .chart-group__chart
          map-chart(
            :allData='allData',
            :getGraphData='foreignersChart.getData',
            valueFormat='.0%',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )

      .chart-group
        .chart-group__description
          h3 Welfare
          p Mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
          p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          range-chart(
            xLabel='Sozialhilfequote',
            :allData='allData',
            :getGraphData='welfareChart.getData',
            :isPercent='true',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
        .chart-group__chart
          map-chart(
            :allData='allData',
            :getGraphData='welfareChart.getData',
            valueFormat='.0%',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )

      .chart-group
        .chart-group__description
          h3 Wealth and Income
          p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
          p Mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
        .chart-group__chart
          range-chart(
            xLabel='Reinvermögen Gini',
            :allData='allData',
            :getGraphData='augmentedWealthGiniChart.getData',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
        .chart-group__chart
          map-chart(
            :allData='allData',
            :getGraphData='wealthGiniChart.getData',
            valueFormat='.2f',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
        .chart-group__chart
          bar-chart(
            xLabel='Reinvermögen Median',
            yLabel='',
            :allData='allData',
            :getGraphData='medianWealthChart.getData',
            :colors='colors.GRAPHIQ3_12_LOWER',
            :xTickFormat='medianWealthChart.xTickFormat',
            :yTickFormat='medianWealthChart.yTickFormat',
          )
          map-chart(
            :allData='allData',
            :getGraphData='medianWealthChart.getData',
            :isChf='true',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
        .extra-details-trigger
          button.button.button--shrink(v-on:click='areWealthDetailsVisible = !areWealthDetailsVisible')
            | ${areWealthDetailsVisible ? 'Hide extra information' : 'Show extra information'}
        vue-slide-up-down(:active='areWealthDetailsVisible')
          .extra-details
            .chart-group__description
              p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
            .chart-group__chart
              bar-chart(
                xLabel='Reinvermögen Mittelwert',
                yLabel='',
                :allData='allData',
                :getGraphData='averageWealthChart.getData',
                :colors='colors.GRAPHIQ3_12_LOWER',
                :xTickFormat='averageWealthChart.xTickFormat',
                :yTickFormat='averageWealthChart.yTickFormat',
              )
        .chart-group__chart
          range-chart(
            xLabel='Reineinkommen Gini',
            :allData='allData',
            :getGraphData='augmentedIncomeGiniChart.getData',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
          map-chart(
            :allData='allData',
            :getGraphData='incomeGiniChart.getData',
            valueFormat='.2f',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
        .chart-group__chart
          bar-chart(
            xLabel='Reineinkommen Median',
            yLabel='',
            :allData='allData',
            :getGraphData='medianIncomeChart.getData',
            :colors='colors.GRAPHIQ3_12_LOWER',
            :xTickFormat='medianIncomeChart.xTickFormat',
            :yTickFormat='medianIncomeChart.yTickFormat',
          )
          map-chart(
            :allData='allData',
            :getGraphData='medianIncomeChart.getData',
            :isChf='true',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
        .extra-details-trigger
          button.button.button--shrink(v-on:click='areIncomeDetailsVisible = !areIncomeDetailsVisible')
            | ${areIncomeDetailsVisible ? 'Hide extra information' : 'Show extra information'}
        vue-slide-up-down(:active='areIncomeDetailsVisible')
          .extra-details
            .chart-group__description
              p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
            .chart-group__chart
              bar-chart(
                xLabel='Reineinkommen Mittelwert',
                yLabel='',
                :allData='allData',
                :getGraphData='averageIncomeChart.getData',
                :colors='colors.GRAPHIQ3_12_LOWER',
                :xTickFormat='averageIncomeChart.xTickFormat',
                :yTickFormat='averageIncomeChart.yTickFormat',
              )

      .chart-group
        .chart-group__description
          h3 Full-time Employee Equivalents
          p Turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci.
          p Odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          range-chart(
            xLabel='Vollzeitäquivalente',
            :allData='allData',
            :getGraphData='employeeChart.getData',
            :isPercent='false',
            :colors='colors.GRAPHIQ3_12_LOWER',
            :radius='5',
            :minDist='17',
          )
        .chart-group__chart
          map-chart(
            :allData='allData',
            :getGraphData='employeeChart.getData',
            valueFormat='d',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )

      .chart-group.kind-of-hidden
        .chart-group__description
          h3 Population change
          p Turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci.
          p Odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          range-chart(
            xLabel='Umzüge + Wanderungen Saldo',
            :allData='allData',
            :getGraphData='populationChangeChart.getData',
            :isPercent='false',
            :colors='colors.GRAPHIQ3_12_LOWER',
            :radius='5',
            :minDist='17',
          )
        .chart-group__chart
          map-chart(
            :allData='allData',
            :getGraphData='populationChangeChart.getData',
            valueFormat='d',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )

      h2 In depth

      .chart-group
        .chart-group__description
          h3 Citizenship
          p Nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
          p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci.
        .chart-group__chart
          stack-chart(
            xLabel='',
            yLabel='',
            :allData='allData',
            :getGraphData='citizenshipChart.getData',
            :getKeys='citizenshipChart.getKeys',
            :colors='citizenshipChart.colors',
          )

      .chart-group
        .chart-group__description
          h3 Religion
          p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci.
          p Nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          stack-chart(
            xLabel='',
            yLabel='',
            :allData='allData',
            :getGraphData='religionChart.getData',
            :getKeys='religionChart.getKeys',
            :colors='religionChart.colors',
            :defaultSort='religionChart.defaultSort',
          )

      .chart-group
        .chart-group__description
          h3 Age
          p Turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci.
          p Odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          stack-chart(
            xLabel='',
            yLabel='',
            :allData='allData',
            :getGraphData='ageChart.getData',
            :getKeys='ageChart.getKeys',
            :colors='ageChart.colors',
            :defaultSort='ageChart.defaultSort',
          )
