.page
  hero

  .grid-container
    profile(
      v-if='allData',
      :allData='allData'
    )

  .charts(v-if='allData')
    .grid-container
      h2 At a glance

      .chart-group
        .chart-group__description
          h3 Foreigners
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
          p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          map-chart(
            axisLabel='Foreigner Percentage',
            valueFormat='.0%',
            :allData='allData',
            :getGraphData='foreignersChart.getData',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
        .chart-group__chart
          range-chart(
            axisLabel='Foreigner Percentage',
            :allData='allData',
            :getGraphData='foreignersChart.getData',
            :isPercent='true',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
        .chart-group__sources
          | #[strong Source:] Statistisches Amt Basel-Stadt, #[a(href='http://www.statistik.bs.ch/zahlen/tabellen/1-bevoelkerung/bestand-struktur.html') T01.1.04], 2016.

      .chart-group
        .chart-group__description
          h3 Welfare
          p Mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
          p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          map-chart(
            axisLabel='Social Welfare Quota',
            valueFormat='.0%',
            :colors='colors.GRAPHIQ3_12_LOWER',
            :allData='allData',
            :getGraphData='welfareChart.getData',
          )
        .chart-group__chart
          range-chart(
            axisLabel='Social Welfare Quota',
            :allData='allData',
            :getGraphData='welfareChart.getData',
            :isPercent='true',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
        .chart-group__sources
          | #[strong Source:] Statistisches Amt Basel-Stadt, #[a(href='http://www.statistik.bs.ch/zahlen/tabellen/13-soziale-sicherheit/sozialhilfe.html') T13.4.03], 2016.

      .chart-group
        .chart-group__description
          h3 Wealth Inequality
          p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          map-chart(
            axisLabel='Net Worth Gini',
            valueFormat='.2f',
            :allData='allData',
            :getGraphData='wealthGiniChart.getData',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
        .chart-group__chart
          range-chart(
            axisLabel='Net Worth Gini',
            :allData='allData',
            :getGraphData='augmentedWealthGiniChart.getData',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
        .chart-group__sources
          | #[strong Source:] Statistisches Amt Basel-Stadt, #[a(href='http://www.statistik.bs.ch/zahlen/tabellen/18-oeffentliche-finanzen/steuern.html') T18.2.03], 2014.
          br
          | International Gini coefficients for wealth from #[a(href='https://www.credit-suisse.com/corporate/en/research/research-institute/global-wealth-report.html') Credit Suisse Global Wealth Report, 2014].

      .chart-group
        .chart-group__description
          h3 Average Net Worth
          p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          map-chart(
            axisLabel='Average Net Worth',
            :allData='allData',
            :getGraphData='medianWealthChart.getData',
            :isChf='true',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
        .chart-group__chart
          bar-chart(
            xLabel='Average Net Worth',
            yLabel='',
            :allData='allData',
            :getGraphData='medianWealthChart.getData',
            :colors='colors.GRAPHIQ3_12_LOWER',
            :xTickFormat='medianWealthChart.xTickFormat',
            :yTickFormat='medianWealthChart.yTickFormat',
          )
          // range-chart(
          //   axisLabel='Average Net Worth',
          //   :allData='allData',
          //   :getGraphData='medianWealthChart.getData',
          //   :colors='colors.GRAPHIQ3_12_LOWER',
          //   :isChf='true',
          // )
        .extra-details-trigger
          button.button.button--shrink(v-on:click='areWealthDetailsVisible = !areWealthDetailsVisible')
            | ${areWealthDetailsVisible ? 'Hide extra information' : 'Show extra information'}
        vue-slide-up-down(:active='areWealthDetailsVisible')
          .extra-details
            .chart-group__description
              p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
            .chart-group__chart
              bar-chart(
                xLabel='Mean Net Worth',
                yLabel='',
                :allData='allData',
                :getGraphData='averageWealthChart.getData',
                :colors='colors.GRAPHIQ3_12_LOWER',
                :xTickFormat='averageWealthChart.xTickFormat',
                :yTickFormat='averageWealthChart.yTickFormat',
              )
        .chart-group__sources
          | #[strong Source:] Statistisches Amt Basel-Stadt, #[a(href='http://www.statistik.bs.ch/zahlen/tabellen/18-oeffentliche-finanzen/steuern.html') T18.2.03], 2014.
          br
          | The median (and not the mean) is used for average financial values to avoid skewing.

      .chart-group
        .chart-group__description
          h3 Income Inequality
          p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          map-chart(
            axisLabel='Net Income Gini',
            valueFormat='.2f',
            :allData='allData',
            :getGraphData='incomeGiniChart.getData',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
        .chart-group__chart
          range-chart(
            axisLabel='Net Income Gini',
            :allData='allData',
            :getGraphData='augmentedIncomeGiniChart.getData',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
        .chart-group__sources
          | #[strong Source:] Statistisches Amt Basel-Stadt, #[a(href='http://www.statistik.bs.ch/zahlen/tabellen/18-oeffentliche-finanzen/steuern.html') T18.2.03], 2014.
          br
          | International Gini coefficients for income from #[a(href='https://www.gut-leben-in-deutschland.de/static/LB/indicators/income/gini-coefficient-income/') “Gini-Koeffizient der Einkommen”, Bundesregierung Deutschland, 2014].

      .chart-group
        .chart-group__description
          h3 Average Net Income
          p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          map-chart(
            axisLabel='Average Net Income',
            :allData='allData',
            :getGraphData='medianIncomeChart.getData',
            :isChf='true',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
        .chart-group__chart
          bar-chart(
            xLabel='Average Net Income',
            yLabel='',
            :allData='allData',
            :getGraphData='medianIncomeChart.getData',
            :colors='colors.GRAPHIQ3_12_LOWER',
            :xTickFormat='medianIncomeChart.xTickFormat',
            :yTickFormat='medianIncomeChart.yTickFormat',
          )
          // range-chart(
          //   axisLabel='Average Net Income',
          //   :allData='allData',
          //   :getGraphData='medianIncomeChart.getData',
          //   :colors='colors.GRAPHIQ3_12_LOWER',
          //   :isChf='true',
          // )
        .extra-details-trigger
          button.button.button--shrink(v-on:click='areIncomeDetailsVisible = !areIncomeDetailsVisible')
            | ${areIncomeDetailsVisible ? 'Hide extra information' : 'Show extra information'}
        vue-slide-up-down(:active='areIncomeDetailsVisible')
          .extra-details
            .chart-group__description
              p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
            .chart-group__chart
              bar-chart(
                xLabel='Mean Net Income',
                yLabel='',
                :allData='allData',
                :getGraphData='averageIncomeChart.getData',
                :colors='colors.GRAPHIQ3_12_LOWER',
                :xTickFormat='averageIncomeChart.xTickFormat',
                :yTickFormat='averageIncomeChart.yTickFormat',
              )
        .chart-group__sources
          | #[strong Source:] Statistisches Amt Basel-Stadt, #[a(href='http://www.statistik.bs.ch/zahlen/tabellen/18-oeffentliche-finanzen/steuern.html') T18.2.03], 2014.
          br
          | The median (and not the mean) is used for average financial values to avoid skewing.

      .chart-group
        .chart-group__description
          h3 Full-time Employee Equivalents
          p Turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci.
          p Odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          map-chart(
            axisLabel='Full-time Employee Equivalents',
            valueFormat=',.2f',
            :allData='allData',
            :getGraphData='employeeChart.getData',
            :colors='colors.GRAPHIQ3_12_LOWER',
          )
        .chart-group__chart
          // range-chart(
          //   axisLabel='Full-time Employee Equivalents',
          //   :allData='allData',
          //   :getGraphData='employeeChart.getData',
          //   :isPercent='false',
          //   :colors='colors.GRAPHIQ3_12_LOWER',
          //   :radius='5',
          //   :minDist='15',
          //   :minPadding='1.0',
          // )
          bar-chart(
            xLabel='Full-time Employee Equivalents',
            yLabel='',
            :allData='allData',
            :getGraphData='employeeChart.getData',
            :colors='colors.GRAPHIQ3_12_LOWER',
            :xTickFormat='employeeChart.xTickFormat',
            :yTickFormat='employeeChart.yTickFormat',
          )
        .chart-group__sources
          | #[strong Source:] Statistisches Amt Basel-Stadt, #[a(href='http://www.statistik.bs.ch/zahlen/tabellen/3-erwerbsleben/beschaeftigte.html') T03.2.02], 2014.

      h2 In depth

      .chart-group
        .chart-group__description
          h3 Citizenship
          p Nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
          p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci.
        .chart-group__chart
          stack-chart(
            xLabel='',
            yLabel='',
            :allData='allData',
            :getGraphData='citizenshipChart.getData',
            :getKeys='citizenshipChart.getKeys',
            :colors='citizenshipChart.colors',
          )
        .chart-group__sources
          | #[strong Source:] Statistisches Amt Basel-Stadt, #[a(href='http://www.statistik.bs.ch/zahlen/tabellen/1-bevoelkerung/bestand-struktur.html') T01.1.23], 2016.

      .chart-group
        .chart-group__description
          h3 Religion
          p Vivamus pellentesque, turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci.
          p Nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          stack-chart(
            xLabel='',
            yLabel='',
            :allData='allData',
            :getGraphData='religionChart.getData',
            :getKeys='religionChart.getKeys',
            :colors='religionChart.colors',
            :defaultSort='religionChart.defaultSort',
          )
        .chart-group__sources
          | #[strong Source:] Statistisches Amt Basel-Stadt, #[a(href='http://www.statistik.bs.ch/zahlen/tabellen/1-bevoelkerung/religionszugehoerigkeit.html') T01.6.01], 2013.

      .chart-group
        .chart-group__description
          h3 Age
          p Turpis ac tempus gravida, mauris ex dictum ex, nec gravida odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci.
          p Odio velit non sapien. Sed ante lorem, finibus quis urna sit amet, sodales finibus diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id dolor eu enim aliquam scelerisque non eget odio.
        .chart-group__chart
          stack-chart(
            xLabel='',
            yLabel='',
            :allData='allData',
            :getGraphData='ageChart.getData',
            :getKeys='ageChart.getKeys',
            :colors='ageChart.colors',
            :defaultSort='ageChart.defaultSort',
          )
        .chart-group__sources
          | #[strong Source:] Statistisches Amt Basel-Stadt, #[a(href='http://www.statistik.bs.ch/zahlen/tabellen/1-bevoelkerung/bestand-struktur.html') T01.1.22], 2016.
