.profile
  .profile-controls
    .profile-selector
      h2 Select your district
      model-select(v-model='district', :options='districtOptions')
    .profile-map
      map-chart(
        :allData='allData',
        :highlightDistrict='district'
        :isLegendDisabled='true',
        :isTooltipDisabled='true',
        :colors='colors.GRAPHIQ3_12_LOWER',
        :on-click='changeDistrict',
      )
  .profile-profile
    h2 ${districtName}
    .metric(v-for='(metric, key) in metrics')
      .metric__name
        h4 ${metric.name}
      .metric__info
        p ${metric.formatValue(metric.data.value)}
        p ${formatRank(metric.data.rankInfo, metric.rankFormats)} (#${metric.data.rankInfo.rank}/${metric.data.rankInfo.outOf})
