.profile
  .profile-header
    h2 Your district's profile
    p Live in Basel? Select the district you live in to find out how it compares with the others. #[br] Don't live in Basel? Just browse around! #[br] #[strong Psst…] clicking on the map is easiest.
    .profile-dropdown
      model-select(v-model='district', :options='districtOptions')
  .grid
    .profile-map
      map-chart(
        :allData='allData',
        :highlightDistrict='district'
        :isLegendDisabled='true',
        :isTooltipDisabled='true',
        :colors='colors.GRAPHIQ3_12_LOWER',
        :on-click='changeDistrict',
      )
    .profile-metrics.grid.grid--tight
      .metric(v-for='(metric, key) in metrics')
        .metric__name
          h4 ${metric.name}
        .metric__info
          p.value ${metric.formatValue(metric.data.value)}
          .rankinfo
            p.rank rank #${metric.data.rankInfo.rank}/${metric.data.rankInfo.outOf}
            p.ranktext ${formatRank(metric.data.rankInfo, metric.rankFormat)}
